

<div class="span-1">

  <form style="float:left" action="/movie/search" method ="get">
    <label style="font-size: 30px; color: red;"> Find Movies     </label>
    <input type='text' placeholder="Find Movies, TV shows, Celebrities and more..." name ='search_keys' >

    <button> SEARCH! </button>
    <!--<img style="height: 50px;" src="/search_icon.png"> -->

  </form>

</div>





<div id="left">
  <img id="movies25" src="25Movies.jpg">
</div>

<div id="right">
  <div>
    <h3 style="color:red;">Recommended viewing:  </h3>
    <img style="max-height: 150px; position:relative;" src="horror1.jpg">
    <img style="max-height: 150px; position:relative;" src="horror2.jpeg">
    <img style="max-height: 150px; position:relative;" src="horror3.jpeg">
    <img style="max-height: 150px; position:relative;" src="horror4.jpeg">
  </div>
</div>



