<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MOVIES 1</title>
    <link rel='stylesheet' href='/stylesheets/main.css'>
    <script src='http://use.edgefonts.net/nosifer.js'></script>
  </head>
  <body>

    <!-- <img id="banner" src="/movies-banner-movies-673219_800_140.jpg" style="align-center" alt=""> -->

    <img style="max-width:25%; float:left; right:20px;border: 8px solid white;" src="/GregMovieDB.png">
    <img style="max-width:71%; float:left;" id="banner" src="/banner-film.jpg" style="align-center" alt="">



    <%= yield %>

    <div style="max-height: 50px;" class="span-1">
      <p style="color:white; font-size:10; float:right;">©2015 Greg Inc.</p>
    </div>

  </body>
</html>