body{
  margin: 0 auto;
  max-width: 900px
}

img{
  float: left; /* does nothing*/
  max-width: 100%;
}

.span-2, .span-3, .span-4 {
  min-height:  100px;
  margin-bottom: 10px;       /* 10/900 */
  float: left;
  margin-right: 1.11111111%;
  width: 98.88888%;  //added this to make it responsive
}

#main_heading{
  font-size: 60;
  text-align: center;
}

.span-2 {
  background-color: white;
  /* 590/900  - 10 for margin-right for each span*/ 
  width: 65.555555555%;

}

.span-3 {
  background-color: wheat;
  /* 890/900 */
  width: 98.88888%;

  font-size: 20px;
  font-weight: bolder;
}

.span-1{

  min-height:  30px;
  margin-bottom: 10px;       /* 10/900 */
  float: left;
  margin-right: 1.11111111%;
  background-color: mistyrose;
  /* 290 / 900   - --------- 10 for margin-right for each span*/
  /*width: 2.96296296296%;    */
  width: 2.711111%;
}

.span-4 {
  background-color: white;
  /* 290/900  - 10 for margin-right for each span*/ 
  width: 32.222222%;
}


#turns_remaining{
  font-size: 20px;
}

#secret_word{
  color: red;
}

/*at 600 px make span 3 width 600px */
@media all and (min-width: 600px) {

  .span-2 {
    width: 65.555555555%;
  }
  .span-1{
    width: 2.711111%;
  }
}


